<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        
        <!-- Sidebar Section -->
        <aside id="sidebar">
          <a href="https://favourb1.github.io/Welcome-to-my-World/" class="button">Home</a>
          <a href="https://favourb1.github.io/Curriculum-Vitae/" class="button">Curriculum Vitae</a>
          <a href="https://open.spotify.com/show/5R8LLhW9w5czf4Xdd8LbQl?si=e_e7nbWbTKG-sO7YiYO2UA/" class="button">Podcast</a>
           <a href="https://www.canva.com/design/DAGlOYt4eAc/WCJKQlQ18RG60sfUFw9Gkw/edit?utm_content=DAGlOYt4eAc&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Critical Making</a>
        </aside>
        
        <!-- Main Content Section -->
        <section id="main-content">
          {{ content }}
        </section>
        
      </div>
    </div>

  </body>
</html>
